.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.containerOfChart {
    position: absolute;
    width: 98vh;
    height: 99vw;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}

@media (orientation: landscape) {
    .containerOfChart {
        position: absolute;
        width: 99%;
        height: 99%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: none;
    }
}