.main {
    flex: 1;
    gap: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.containerOfCharts {
    flex: 1;
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}