.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.inputName {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputName label {
    color: white;
}

.inputName input[type='text'] {
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    border: 1px #2C3E50 solid;
}

.inputFile {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputFile label {
    color: white;
}

.fileWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #2C2F3A;
    padding: 5px 10px;
    border-radius: 3px;
}

.fileWrapper label {
    text-align: center;
    background-color: #2C2F3A;
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: 200ms;
}

.fileWrapper label:hover {
    text-align: center;
    background-color: #22242d;
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}

.fileWrapper span {
    text-align: center;
    color: #FFFFFF;
}

.containerSubmit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.buttonCancel {
    border: none;
    background-color: #C0392B;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

.buttonCancel:hover {
    border: none;
    background-color: #7c2218;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonCreate {
    border: none;
    background-color: #3498DB;
    color: white;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

.buttonCreate:hover {
    border: none;
    background-color: #2376ad;
    color: white;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    cursor: pointer;
}