.container {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.container label {
    font-size: 1.2rem;
}

.container input[type='color'] {
    border: none;
    width: 80px;
    height: 40px;
}