.overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1E1E2E;
    padding: 5px 7px 7px 5px;
}