.addChartContainer {
    gap: 10px;
    margin: 5px;
    display: flex;
    border-radius: 2px;
    align-self: flex-start;
    flex-direction: column;
    background-color: #52b4fa;
    padding: 10px 45px 10px 45px;
}

.label {
    gap: 5px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.containerOptions {
    gap: 10px;
    display: flex;
    flex-direction: column;
}