.container {
    gap: 5px;
    display: flex;
    align-items: center;
}

.container label {
    width: 20px;
   font-size: 1.2rem;
}

.container input[type='checkbox'] {
    width: 20px;
    height: 20px;
}